# ignore everything
*

# except...
# this file
!.gitignore

# github files
!.github
!.github/**

# selected configs
!config
!config/defaultoptions
!config/defaultoptions/options.txt
!config/defaultoptions/servers.dat
!config/fancymenu
!config/fancymenu/*
!config/fancymenu/customization
!config/fancymenu/customization/*
!config/forge-common.toml
!config/ftbquests
!config/ftbquests/**
!config/ftbultimine.json5
!config/botanicalmachinery
!config/botanicalmachinery/*
!config/minemention.json5
!config/sidebar_buttons.json
!config/skyblockbuilder
!config/skyblockbuilder/common-config.json5
!config/skyblockbuilder/spawns.json
!config/skyblockbuilder/template.nbt
!config/theoneprobe-*.toml
!config/twerk-config.toml
!config/lootr-common.toml # still need to add

# kubejs
!kubejs
!kubejs/assets
!kubejs/assets/**
!kubejs/config
!kubejs/config/*
!kubejs/startup_scripts
!kubejs/startup_scripts/*

# basics
!LICENSE
!README.md

# modlist
!modlist.md

# changelogs
!changelogs
!changelogs/*.md

# server utilities
!clientmods.txt
!create_current_manifest.py
!manifest.json
!modcache.json
!overrides.txt
!pack.json
!serverdata
!serverdata/**
!scripts
!scripts/*
!tokens-example.json